<section class="menu">
    <button class="open-button" onclick="openForm('game-type-form')">Ajouter genre de jeu</button>
    <div class="form-popup" id="game-type-form">
        <form action="/" class="form-container">
            <h1>Ajouter un genre de jeu</h1>
            <label for="game-type"><b>Nom du genre de jeu</b></label>
            <input type="text" placeholder="Entrez le genre de jeu" id="game-title" name="game-title" required>
            <button type="submit" class="btn">Ajouter un type de jeu</button>
            <button type="button" class="btn cancel" onclick="closeForm('game-type-form')">Close</button>
        </form>
    </div>
</section>