<section class="menu">
  <button class="open-button" onclick="openForm('editor-form')">
    Ajouter un éditeur
  </button>

  <div class="form-popup" id="editor-form">
    <form action="/editorCreate" class="form-container" method="POST">
      <h1>Ajouter un Editeur</h1>

      <div class="form-group">
        <label for="game-editor-name"><b>Nom de l'éditeur</b></label>
        <input type="text" id="game-editor-name" name="game-editor-name" placeholder="Entrez le nom de l'éditeur"
          required />
      </div>

      <div class="form-actions">
        <button type="submit" class="btn">Ajouter un éditeur</button>
        <button type="button" class="btn cancel" onclick="closeForm('editor-form')">
          Fermer
        </button>
      </div>
    </form>
  </div>
</section>