<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Page 404 - Non trouvée</title>
    <link rel="stylesheet" href="/global.css" />
</head>

<body>
    <div class="container">
        <h1>404</h1>
        <p>Oups ! La page que vous recherchez n'a pas été trouvée.</p>
        <a href="/">Retourner à l'accueil</a>
    </div>
</body>

</html>