<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global.css" />
    <title>{{title}}</title>

</head>

<body>
    <h1 id="title">Vapeur - Mathieu Dumas & Rémi HAEN</h1>
    <section class="page">
    {{> navbar}}
    <div class="menu-container">
        {{>formGame editors=editors types=types}}
        {{>formEditor}}
    </div>
    {{{ body }}}
    </section>
    {{> footer }}
</body>
<script src="/scripts.js"></script>

</html>