{{> gameCarousel games=editor.games}}

<h1>Liste des jeux de {{editor.name}}</h1>
{{editor.description}}
<form class="game-form" method="post">
  <div class="buttons">
    <p>
      {{>ButtonEditEditors}}
    </p>

    {{>ButtonDelete}}
    {{>ButtonFrontPage}}
    {{>ButtonRemoveFrontPage}}
  </div>
  <section class="game-list">
    {{>gameListSection games=editor.games}}
  </section>
</form>