<!--
  https://stackoverflow.com/questions/11523331/passing-variables-through-handlebars-partial
  Ajout d'un paramètre à un include handlebars
  -->
{{> gameCarousel games=editor.games}}

<h1>Liste des jeux de {{editor.name}}</h1>
{{editor.description}}
<form class="game-form" method="post">
  <div class="buttons">
    {{>ButtonDelete}}
    {{>ButtonFrontPage}}
    {{>ButtonRemoveFrontPage}}
  </div>
  <section class="game-list">
    {{>gameListSection games=editor.games}}
  </section>
</form>