<h1>Liste des Éditeurs :</h1>
<form class="editor-form">
  <ul class="editor-list">
    {{#each a_editors}}
    {{#if active}}
    <li>
      <input type="checkbox" class="checkbox-form" id=`edtior-{{id}}`>
      <a href="/games/editor/{{id}}">{{name}}</a>
    </li>
    {{/if}}
    {{/each}}
  </ul>
</form>