/*
RENDRE LE TOUT RESPONSIVE
*/

* {
    box-sizing: border-box;
    text-decoration: none;

}

.game-slide {
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.game-list {
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.game-item-slide {
    display: none;
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.game-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    padding: 20px;
}

.game-item {
    aspect-ratio: 1;
    display: block;
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.game-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.game-description,
.game-release-date,
.game-type,
.game-editor {
    display: block;
    margin: 5px 0;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;

    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.form-popup {
    display: none;
}

.menu-container {
    display: flex;

}