{{> gameCarousel games=games}}
<section class="game-list">
  <h1>Liste des jeux En avant</h1>
  <form class="game-form" method="post">
    {{>gameListSection games=games}}
    <div class="buttons">
      {{>ButtonDelete}}
      {{>ButtonRemoveFrontPage}}
    </div>
  </form>
</section>