{{> gameCarousel games=games}}
<section class="game-list">
  <h1>Liste des jeux En avant</h1>
  {{>gameListSection games=games}}
  <div class="buttons">
    {{>ButtonDelete}}
    {{>ButtonRemoveFrontPage}}
  </div>
  </form>
</section>