{{> gameCarousel games=games}}

<section class="game-list">
    <h1>Liste des Jeux :</h1>
    {{>gameListSection games=games}}
    <div class="buttons">
        {{>ButtonDelete}}
        {{>ButtonFrontPage}}
    </div>
</section>