{{> gameCarousel games=games}}

<section class="game-list">
    <h1>Liste des Jeux :</h1>
    <form class="game-form" method="post">
        {{>gameListSection games=games}}
        <div class="buttons">
            {{>ButtonDelete}}
            {{>ButtonFrontPage}}
        </div>
</section>