{{> gameCarousel games=games}}
<h1>Liste des Jeux :</h1>
<form class="game-form" method="post">
    <div class="buttons">
        {{>ButtonDelete}}
        {{>ButtonFrontPage}}
    </div>
    <section class="game-list">
        {{>gameListSection games=games}}
    </section>
</form>