<h1>Liste des Types de Jeux</h1>

<ul>
    {{#each types}}
    <li>
        {{type}}
        {{description}}
        <a href="/games/type/{{id}}">Voir les jeux associés</a>
    </li>
    {{/each}}
</ul>