<h1>{{types.type}} Games</h1>

<p>Description : {{types.description}}</p>
{{> gameCarousel games=types.games}}

<h2>Liste des Jeux :</h2>
<section class="game-list">
    {{>gameListSection games=types.games}}
</section>